<nav class="main-nav" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <ul>

        <li>
            <a href="/">Add new route</a>
        </li>
        <li>
            <a th:href="@{/users/profile}">Profile</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a href="/">Admin</a>
        </li>
        <li>
<!--            <a href="/users/logout">Logout</a>-->
                        <form th:action="@{/users/logout}"
                              th:method="post">
                            <button type="submit">Logout</button>
                        </form>
        </li>
    </ul>
</nav>